@page "/servers"
@page "/servers/back_from/{cityName}"

@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject TorontoOnlineServerStore TorontoOnlineServerStore
@inject IServerEFCoreRepository ServerEFCoreRepository

<h3>Servers</h3>
<br />
<br />
<CityListComponent @ref="cityListComponent"
				   SelectCityCallBack="HandleCitySelection"
				   selectedCity="@this.selectedCity"></CityListComponent>
<br />

<SearchBarComponent @ref="searchBarComponent" SearchServerCallback="HandleSearchServer"
					style="width:1000px"
					data-my-attribute="my data">
</SearchBarComponent>

<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
	<ServerListComponent @rendermode="InteractiveServer"
						 CityName="@this.selectedCity"
						 SearchFilter="@this.searchFilter">
	</ServerListComponent>
</CascadingValue>
<p>
	<a href="/server" class="btn btn-primary">Add Server</a>
</p>

@code {
	[Parameter]
	public string? CityName { get; set; }
	private string selectedCity = "Tronto";
	private string searchFilter = "";

	private CityListComponent? cityListComponent;
	private SearchBarComponent? searchBarComponent;

	private void HandleSearch(MouseEventArgs args)
	{
		//servers = ServersRepository.SearchServers(serverFilter);
		//this.selectedCity = string.Empty;
	}
	private void HandleCitySelection(string cityName)
	{
		selectedCity = cityName;
		this.searchFilter = "";
		searchBarComponent?.ClearFilter();
	}
	private void HandleSearchServer(string searchFilter)
	{
		this.searchFilter = searchFilter;

		cityListComponent?.ClearSelection();
	}
	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			if (NavigationManager.Uri.Contains("back_from")
			&& !string.IsNullOrWhiteSpace(CityName))
			{
				selectedCity = CityName;
				StateHasChanged();
			}
			//初始化在线服务器数量
			var serversToronto = ServerEFCoreRepository.GetServersByCity("Toronto");
			if (serversToronto is not null)
			{
				TorontoOnlineServerStore.SetNumberServerOnline(serversToronto.Count(x => x.IsOnline));
			}
		}
	}

}
