@page "/servers"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />
<CityListComponent @ref="cityListComponent" SelectCityCallBack="HandleCitySelection"></CityListComponent>
<br />

<SearchBarComponent @ref="searchBarComponent" SearchServerCallback="HandleSearchServer"></SearchBarComponent>

<br />
<ServerListComponent @rendermode="InteractiveServer"
					 CityName="@this.selectCity"
					 SearchFilter="@this.searchFilter">
</ServerListComponent>

<p>
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {

	private string selectCity = "Tronto";
	private string searchFilter = "";

	private CityListComponent? cityListComponent;
	private SearchBarComponent? searchBarComponent;

	private void HandleSearch(MouseEventArgs args)
	{
		//servers = ServersRepository.SearchServers(serverFilter);
		//this.selectedCity = string.Empty;
	}
	private void HandleCitySelection(string cityName)
	{
		selectCity = cityName;
		this.searchFilter = "";
		searchBarComponent?.ClearFilter();
	}
	private void HandleSearchServer(string searchFilter)
	{
		this.searchFilter = searchFilter;

		cityListComponent?.ClearSelection();
	}
}
