@page "/counter"
<h3>Counter</h3>
<br />
<b>Server Interavtive</b>
<WebAssemblyDemo.Client.Controls.CounterComponent @rendermode="InteractiveServer"></WebAssemblyDemo.Client.Controls.CounterComponent>
<br />
<br />
<b>WebAssambly Interavtive</b>
<WebAssemblyDemo.Client.Controls.CounterComponent @rendermode="InteractiveWebAssembly"></WebAssemblyDemo.Client.Controls.CounterComponent>

@code {

}
