
<div class="col">
	<div class="card @(selectedCity.Equals(city, StringComparison.OrdinalIgnoreCase) ? "border-primary" : "")">
		<img src="@($"/images/{city}.png")" class="card-img-top" alt="...">
		<div class="card-body">
			<button typr="button" class="btn btn-primary" @onclick="@(() => { SelectCity(city); })">@city</button>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public string selectedCity { get; set; } = "Toronto";
	[Parameter]
	public string city { get; set; } = "";
	[Parameter]
	public EventCallback<string> SelectCityCallBack{ get; set; }

	private void SelectCity(string cityName)
	{
		SelectCityCallBack.InvokeAsync(cityName);
	}

	protected override bool ShouldRender()
	{
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(ShouldRender)} : {guid}");
		return base.ShouldRender();
	}

	protected override Task OnParametersSetAsync()
	{
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(OnParametersSetAsync)} : {guid}");
		return base.OnParametersSetAsync();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(OnParametersSet)} : {guid}");
	}

	protected override void OnAfterRender(bool firstRender)
	{
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(OnAfterRender)} : {guid}");
		base.OnAfterRender(firstRender);
	}

	public void Dispose()
	{
		var guid = Guid.NewGuid();
		Console.WriteLine($"{this.GetType().Name}: {nameof(Dispose)} : {guid}");

	}

}
